@import "../App/colors";

$footer-height: 8vh;

.question {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .question__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .question__title {
            height: 30vh;
    
            flex: 2;

            display: flex;
            flex-direction: row;
            align-items: center;
    
            h3 {
                text-align: center;
                font-size: 9vh;
                line-height: 8.8vh;
                height: 75%;
                width: 90%;
                margin: auto auto;
            }
        }

        .question__footer {
            height: $footer-height;
            background-color: $footer-background;

            position: absolute;
            bottom:0;

            display: flex;
            flex-direction: row;

            position: relative;

            .buttons__main{
                flex:2;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .buttons__button {
                    flex: 1;
                }
            }

            .buttons__button {
                height: $footer-height;
                line-height: $footer-height;
                font-size: 3vh;
                text-align: center;
            }

            .buttons__reset {
                width: $footer-height !important;
                text-align: center;
            }

            .buttons__yes {
                background-color: $green;
            }

            .buttons__no {
                background-color: $dark-red;
            }
        }
    }

}