// Base colors
$dark-red: #82363a;
$green: #519d90;
$orange: #e69675;
$red: #e55151;

// Header colors
$header-color: white;

// Question colors
$question-footer-color: #343a40;

// Font colors
$font-color: white;