// Base colors
$dark-red: #82363a;
$green: #519d90;
$orange: #e69675;
$red: #e55151;

// Footer colors
$footer-background: #343a40;
$footer-background-dark: #212529;

// Font colors
$font-color: white;