@import "./colors";

.app__header{
    &.header {    
        background-color: #ffffff11;
        color: $header-color;
        font-size: small;
        
        [class^='header__element'] {
            display: inline-block;

            height: 5vh;
            line-height: 5vh;
            padding-left: 1vh;

            a, span {
                margin-right: 1vw;
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: $header-color !important;
            }

            &[class*='--left'] {
                float: left;
            }

            &[class*='--right'] {
                float: right;
            }
        }
    }
}