@import "./_reset.scss";
@import "./_colors.scss";

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 !important;
    color: $font-color;

    background: $dark-red;

    #root {
        background: $dark-red;
    }
}

.app {
    position:fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    background: linear-gradient(150deg, rgba($dark-red,1) 0%, rgba($red,1) 50%, rgba($orange,1) 100%);

    .app__body {
        width: 100%;
        height: 95%;
    }

    .app__footer {
        width: 100%;
        height: 5%;
    }
}